body {
    background-color:rgb(5, 230, 91);
 }
 
 
 main {
    background-color: rgb(255, 0, 0);
 }
 nav {
    background-color: rgb(201, 204, 50);
    margin-left: auto;
    margin-right: auto;
 }
 
 
 ul {
    background-color: rgb(105, 144, 180);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
 
 }
 
 
 li {
    float: left;
 }
 
 
 li a:hover {
    background-color:rgb(74, 48, 99)
 }
 
 
 
 
 li a {
    display: block;
    color:  rgb(53, 53, 156);
    text-align: justify;
    padding: 21px 21px;
    text-decoration: none;
 }
 
 
 img {
    display: block;
    width: 30%;
    height: 30%;
 
 
 }
 